/* app css stylesheet */

body {
  overflow-x: hidden;
  cursor: default;
}

@font-face {
  font-family: "Exocet Light";
  src: url("../fonts/exocet-light.ttf") format("truetype");
}

@font-face {
  font-family: "Exocet Heavy";
  src: url("../fonts/exocet-heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation Sans";
  src: url("../fonts/LiberationSans-Regular.ttf") format("truetype");
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-leave {
    -webkit-transition: all 1.4s ease;
    transition: all 1.4s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -200%;
}

a:hover,
a:focus {
    font-family: "Exocet Heavy", Arial, sans-serif;
    text-decoration: none;
}

.content div {
  margin-top: 2.2em;
}

.content div:last-child {
  padding-bottom: 5em;
}

.content div p {
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 1.3em;
  word-spacing: 0.3em;
}

.jumbotron {
  font-family: "Exocet Heavy", Arial, sans-serif;
  background-color: black;
  color: white;
}

.jumbotron p {
  font-size: 2.6em;
}

.menu {
  list-style: none;
}

img {
  width: 100%;
}

.menu > li {
  font-family: "Exocet Light", Arial, sans-serif;
  font-size: 1.6em;
  display: inline;
}


@media (min-width: 768px) {
  .float-right {
    float: right;
  }

  .menu {
    margin-bottom: 2em;
  }

  .content div:last-child {
    padding-bottom: 15em;
  }
}