<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Kijani.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Human</p>
  <p>Class:&nbsp; Fighter</p>
  <p>Level:&nbsp; 2</p>
  <br /><br />
  <p>Gender:&nbsp; Female</p>
  <p>Age:&nbsp; 38</p>
  <br /><br />
  <p>Experience:&nbsp; 2000/4000</p>
  <p>Hit points:&nbsp; 20/20</p>
  <p>Armor class:&nbsp; 4</p>
  <p>THAC0:&nbsp; 19</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 15</p>
  <p>Dexterity:&nbsp; 14</p>
  <p>Constitution:&nbsp; 14</p>
  <p>Intelligence:&nbsp; 14</p>
  <p>Wisdom:&nbsp; 10</p>
  <p>Charisma:&nbsp; 14</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Two-handed sword (1d10 slashing)</p>
  <p>Bronze plate mail armor (AC 4)</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d10 hit points per level</p>
  <p>Can have weapon specializations</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>Experience bonus:&nbsp; 0%</p>
  <p>Weight allowed:&nbsp; 55 lbs</p>
  <p>Defensive adjustment:&nbsp; 0</p>
  <p>Missile attack adjustment:&nbsp; 0</p>
  <p>Hit point adjustment:&nbsp; 0</p>
  <p>Extra proficiency slots:&nbsp; 4</p>
  <p>Magical defense adjustment:&nbsp; 0</p>
  <p>NPC reaction adjustment:&nbsp; +2</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>Can rise to any level in class</p>
</div>