<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Kijani.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Human</p>
  <p>Class:&nbsp; Fighter</p>
  <p>Level:&nbsp; 2</p>
  <br /><br />
  <p>Gender:&nbsp; Female</p>
  <p>Age:&nbsp; 38</p>
  <br /><br />
  <p>Experience:&nbsp; 2642/4000</p>
  <p>Hit points:&nbsp; 20/20</p>
  <p>Armor class:&nbsp; 4</p>
  <p>THAC0:&nbsp; 19</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 15</p>
  <p>Dexterity:&nbsp; 14</p>
  <p>Constitution:&nbsp; 14</p>
  <p>Intelligence:&nbsp; 14</p>
  <p>Wisdom:&nbsp; 10</p>
  <p>Charisma:&nbsp; 14</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Two-handed sword (1d10 slashing)</p>
  <p>Bronze plate mail armor (AC 4)</p>
  <br /><br />
  <p><b>Backpack</b></p>
  <p>140 gold</p>
  <p>1 potion of extra-healing</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d10 hit points per level</p>
  <p>Can have weapon specializations</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>No experience bonus</p>
  <p>Can carry 55 lbs</p>
  <p>No change to armor class</p>
  <p>No change to attack roll with ranged weapons</p>
  <p>No extra hit points per level</p>
  <p>+4 proficiency slots</p>
  <p>No change to saving throws vs. spells</p>
  <p>+2 to NPC reactions</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>Can rise to any level in class</p>
</div>