<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Kijani.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment: Undetermined</p>
  <p>Race: Human</p>
  <p>Class: Fighter</p>
  <p>Level: 1</p>
  <br /><br />
  <p>Gender: Female</p>
  <p>Age: 38</p>
  <br /><br />
  <p>Experience: 300/2000</p>
  <p>Hit points: 10/10</p>
  <p>Armor class: 4</p>
  <p>THAC0: 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength: 15</p>
  <p>Dexterity: 14</p>
  <p>Constitution: 14</p>
  <p>Intelligence: 14</p>
  <p>Wisdom: 10</p>
  <p>Charisma: 14</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Two-handed sword (1d10 slashing)</p>
  <p>Bronze plate mail armor (AC 4)</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d10 hit points per level</p>
  <p>Can have weapon specializations</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>Experience bonus: 0%</p>
  <p>Weight allowed: 55 lbs</p>
  <p>Defensive adjustment: 0</p>
  <p>Missile attack adjustment: 0</p>
  <p>Hit point adjustment: 0</p>
  <p>Extra proficiency slots: 4</p>
  <p>Magical defense adjustment: 0</p>
  <p>NPC reaction adjustment: +2</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>can rise to any level in class</p>
</div>