<div class="col-sm-5 col-sm-offset-1 text-center">
  <img src="images\Solgonda.png">
</div>
<div class="col-sm-6 information text-center">
  <p>Alignment: Undetermined</p>
  <p>Race: Elf</p>
  <p>Class: Mage</p>
  <p>Level: 1</p>
</div>
<div class="col-sm-6 information text-center">
  <p>Gender: Male</p>
  <p>Age: 247</p>
</div>
<div class="col-sm-6 information text-center">
  <p><b>Ability Scores</b></p>
  <p>Strength: 11</p>
  <p>Dexterity: 14</p>
  <p>Constitution: 12</p>
  <p>Intelligence: 17</p>
  <p>Wisdom: 16</p>
  <p>Charisma: 16</p>
</div>