<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Solgonda.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Elf</p>
  <p>Class:&nbsp; Mage</p>
  <p>Level:&nbsp; 2</p>
  <br /><br />
  <p>Gender:&nbsp; Male</p>
  <p>Age:&nbsp; 247</p>
  <br /><br />
  <p>Experience:&nbsp; 2946/5000</p>
  <p>Hit points:&nbsp; 8/8</p>
  <p>Armor class:&nbsp; 10</p>
  <p>THAC0:&nbsp; 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 11</p>
  <p>Dexterity:&nbsp; 14</p>
  <p>Constitution:&nbsp; 12</p>
  <p>Intelligence:&nbsp; 17</p>
  <p>Wisdom:&nbsp; 16</p>
  <p>Charisma:&nbsp; 16</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Quarterstaff (1d6 bludgeoning)</p>
  <p>Embroidered robe (AC 10)</p>
  <br /><br />
  <p><b>Wizard spells known</b></p>
  <p><b>Level 1</b></p>
  <p>Burning hands</p>
  <p>Charm person</p>
  <p>Color spray</p>
  <p>Detect magic</p>
  <p>Feather fall</p>
  <p>Magic missile</p>
  <p>Protection from evil</p>
  <p>Read magic</p>
  <p>Sleep</p>
  <p>Wall of fog</p>
  <br /><br />
  <p><b>Wizard spells memorized</b></p>
  <p><b>Level 1 (2 slots)</b></p>
  <p>Magic missile (2x)</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d4 hit points per level</p>
  <p>Cannot wear armor</p>
  <p>Can use scrolls and wands</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>10% experience bonus from Intelligence</p>
  <p>Can carry 40 lbs</p>
  <p>No change to armor class</p>
  <p>No change to attack roll with ranged weapons</p>
  <p>No extra hit points per level</p>
  <p>+6 proficiency slots</p>
  <p>Can reach 8th spell level</p>
  <p>75% chance to learn a new spell</p>
  <p>Has maximum of 14 spells per spell level</p>
  <p>+2 to saving throws vs. spells</p>
  <p>+5 to NPC reactions</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>90% resistance to sleep & charm</p>
  <p>+1 to attack roll with bows, short swords & long swords</p>
  <p>Can see in darkness up to 60 ft</p>
  <p>1 in 6 chance to passively detect concealed doors within 10 ft</p>
</div>