<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Solgonda.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Elf</p>
  <p>Class:&nbsp; Mage</p>
  <p>Level:&nbsp; 1</p>
  <br /><br />
  <p>Gender:&nbsp; Male</p>
  <p>Age:&nbsp; 247</p>
  <br /><br />
  <p>Experience:&nbsp; 330/2500</p>
  <p>Hit points:&nbsp; 4/4</p>
  <p>Armor class:&nbsp; 10</p>
  <p>THAC0:&nbsp; 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 11</p>
  <p>Dexterity:&nbsp; 14</p>
  <p>Constitution:&nbsp; 12</p>
  <p>Intelligence:&nbsp; 17</p>
  <p>Wisdom:&nbsp; 16</p>
  <p>Charisma:&nbsp; 16</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Quarterstaff (1d6 bludgeoning)</p>
  <p>Embroidered robe (AC 10)</p>
  <br /><br />
  <p><b>Wizard spells known</b></p>
  <p><b>Level 1</b></p>
  <p>Burning hands</p>
  <p>Charm person</p>
  <p>Color spray</p>
  <p>Detect magic</p>
  <p>Feather fall</p>
  <p>Magic missile</p>
  <p>Protection from evil</p>
  <p>Read magic</p>
  <p>Sleep</p>
  <p>Wall of fog</p>
  <br /><br />
  <p><b>Wizard spells memorized</b></p>
  <p><b>Level 1 (1 slot)</b></p>
  <p>Magic missile</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d4 hit points per level</p>
  <p>Cannot wear armor</p>
  <p>Can use scrolls and wands</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>Experience bonus:&nbsp; 10%</p>
  <p>Weight allowed:&nbsp; 40 lbs</p>
  <p>Defensive adjustment:&nbsp; 0</p>
  <p>Missile attack adjustment:&nbsp; 0</p>
  <p>Hit point adjustment:&nbsp; 0</p>
  <p>Extra proficiency slots:&nbsp; 6</p>
  <p>Max. spell level:&nbsp; 8th</p>
  <p>Chance to learn spell:&nbsp; 75%</p>
  <p>Max. # of spells/level:&nbsp; 14</p>
  <p>Magical defense adjustment:&nbsp; +2</p>
  <p>NPC reaction adjustment:&nbsp; +5</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>90% resistance to sleep & charm</p>
  <p>+1 to attack roll with bows, short swords & long swords</p>
  <p>Can see in darkness up to 60 ft</p>
  <p>1 in 6 chance to passively detect concealed doors within 10 ft</p>
</div>