<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Tala.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Half-Elf</p>
  <p>Class:&nbsp; Cleric</p>
  <p>Level:&nbsp; 2</p>
  <br /><br />
  <p>Gender:&nbsp; Female</p>
  <p>Age:&nbsp; 25</p>
  <br /><br />
  <p>Experience:&nbsp; 2277/3000</p>
  <p>Hit points:&nbsp; 16/16</p>
  <p>Armor class:&nbsp; 4</p>
  <p>THAC0:&nbsp; 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 13</p>
  <p>Dexterity:&nbsp; 15</p>
  <p>Constitution:&nbsp; 13</p>
  <p>Intelligence:&nbsp; 16</p>
  <p>Wisdom:&nbsp; 16</p>
  <p>Charisma:&nbsp; 16</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Morning star (2d4 piercing/bludgeoning)</p>
  <p>Chain mail armor (AC 5)</p>
  <br /><br />
  <p><b>Backpack</b></p>
  <p>120 gold</p>
  <p>3 vials of holy water</p>
  <br /><br />
  <p><b>Priest spells memorized</b></p>
  <p><b>Level 1 (4 slots)</b></p>
  <p>Bless</p>
  <p>Cure light wounds (3x)</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d8 hit points per level</p>
  <p>Can only use bludgeoning weapons</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>10% experience bonus from Wisdom</p>
  <p>Can carry 45 lbs</p>
  <p>-1 to armor class</p>
  <p>No change to attack roll with ranged weapons</p>
  <p>No extra hit points per level</p>
  <p>+5 proficiency slots</p>
  <p>+2 to saving throws vs. spells</p>
  <p>+2 memorized level 1 spells & +2 memorized level 2 spells</p>
  <p>+5 to NPC reactions</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>30% resistance to sleep & charm</p>
  <p>Can see in darkness up to 60 ft</p>
  <p>1 in 6 chance to passively detect concealed doors within 10 ft</p>
</div>