<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Tala.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment:&nbsp; Undetermined</p>
  <p>Race:&nbsp; Half-Elf</p>
  <p>Class:&nbsp; Cleric</p>
  <p>Level:&nbsp; 2</p>
  <br /><br />
  <p>Gender:&nbsp; Female</p>
  <p>Age:&nbsp; 25</p>
  <br /><br />
  <p>Experience:&nbsp; 1830/3000</p>
  <p>Hit points:&nbsp; 16/16</p>
  <p>Armor class:&nbsp; 4</p>
  <p>THAC0:&nbsp; 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength:&nbsp; 13</p>
  <p>Dexterity:&nbsp; 15</p>
  <p>Constitution:&nbsp; 13</p>
  <p>Intelligence:&nbsp; 16</p>
  <p>Wisdom:&nbsp; 16</p>
  <p>Charisma:&nbsp; 16</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Morning star (2d4 piercing/bludgeoning)</p>
  <p>Chain mail armor (AC 5)</p>
  <br /><br />
  <p><b>Priest spells memorized</b></p>
  <p><b>Level 1 (4 slots)</b></p>
  <p>Bless</p>
  <p>Cure light wounds (3x)</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d8 hit points per level</p>
  <p>Can only use bludgeoning weapons</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>Experience bonus:&nbsp; 10%</p>
  <p>Weight allowed:&nbsp; 45 lbs</p>
  <p>Defensive adjustment:&nbsp; -1</p>
  <p>Missile attack adjustment:&nbsp; 0</p>
  <p>Hit point adjustment:&nbsp; 0</p>
  <p>Extra proficiency slots:&nbsp; 5</p>
  <p>Magical defense adjustment:&nbsp; +2</p>
  <p>Bonus memorized spells:&nbsp; +2 level 1 spells & +2 level 2 spells</p>
  <p>NPC reaction adjustment:&nbsp; +5</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>30% resistance to sleep & charm</p>
  <p>Can see in darkness up to 60 ft</p>
  <p>1 in 6 chance to passively detect concealed doors within 10 ft</p>
</div>