<div class="col-sm-5 col-sm-offset-1">
  <img src="images\Tuvak.png">
</div>
<div class="col-sm-6 float-right">
  <p>Alignment: Undetermined</p>
  <p>Race: Halfling</p>
  <p>Class: Thief</p>
  <p>Level: 1</p>
  <br /><br />
  <p>Gender: Male</p>
  <p>Age: 47</p>
  <br /><br />
  <p>Experience: 330/1250</p>
  <p>Hit points: 7/7</p>
  <p>Armor class: 8</p>
  <p>THAC0: 20</p>
  <br /><br />
  <p><b>Ability scores</b></p>
  <p>Strength: 11</p>
  <p>Dexterity: 16</p>
  <p>Constitution: 15</p>
  <p>Intelligence: 10</p>
  <p>Wisdom: 9</p>
  <p>Charisma: 8</p>
  <br /><br />
  <p><b>Equipment</b></p>
  <p>Short sword (1d6 piercing)</p>
  <p>Sling with 77 bullets (1d4 + 1 bludgeoning)</p>
  <p>Leather armor (AC 8)</p>
  <br /><br />
  <p><b>Thief skills</b></p>
  <p>Pick pockets: 20%</p>
  <p>Open locks: 20%</p>
  <p>Find/remove traps: 10%</p>
  <p>Move silently: 50%</p>
  <p>Hide in shadows: 50%</p>
  <p>Detect noise: 20%</p>
  <p>Climb walls: 45%</p>
  <p>Read languages: 0%</p>
</div>
<div class="col-sm-5 col-sm-offset-1">
  <p><b>Class effects</b></p>
  <p>1d6 hit points per level</p>
  <p>+4 to attack roll on backstab</p>
  <p>x2 damage multiplier on backstab</p>
  <p>Receives 30 thief skill points per level</p>
  <p>Has penalties to thief skills when wearing heavier armor than leather</p>
  <br /><br />
  <p><b>Ability effects</b></p>
  <p>Experience bonus: 10%</p>
  <p>Weight allowed: 40 lbs</p>
  <p>Defensive adjustment: -2</p>
  <p>Missile attack adjustment: +1</p>
  <p>Hit point adjustment: +1</p>
  <p>Extra proficiency slots: 2</p>
  <p>Magical defense adjustment: 0</p>
  <p>NPC reaction adjustment: 0</p>
  <br /><br />
  <p><b>Racial effects</b></p>
  <p>+4 to saving throws vs. spells & poison</p>
  <p>+1 to attack roll with thrown weapons & slings</p>
  <p>-4 to opponents' surprise rolls when alone</p>
</div>