<div class="col-sm-5 col-sm-offset-1 text-center">
  <img src="images\Tuvak.png">
</div>
<div class="col-sm-6 information text-center">
  <p>Alignment: Undetermined</p>
  <p>Race: Halfling</p>
  <p>Class: Thief</p>
  <p>Level: 1</p>
</div>
<div class="col-sm-6 information text-center">
  <p>Gender: Male</p>
  <p>Age: 47</p>
</div>
<div class="col-sm-6 information text-center">
  <p><b>Ability Scores</b></p>
  <p>Strength: 11</p>
  <p>Dexterity: 16</p>
  <p>Constitution: 15</p>
  <p>Intelligence: 10</p>
  <p>Wisdom: 9</p>
  <p>Charisma: 8</p>
</div>